extends layout/app

block vars 
    - let title = 'Main';
    
block page
    include chunk/mixins   
    section.preview 
         
            .swiper.mySwiper 
                .swiper-wrapper
                    each item in preview
                        +slide(item.title,item.text,item.image)
                        
                .swiper-container
                    .swiper-buttons
                        .swiper-button-prev
                        .swiper-pagination
                        .swiper-button-next 
                    
                    
    section.card
        .container 
            .card__tabs
                .tabs 
                    ul.tabs__list
                        each item in tabs
                            +tabs(item)        
            .card__wrapper
                - let count = 0
                 each el in cell
                    +card(el.name, el.flag,el.fav, el.price, el.photoes)
                    
            .card__more
                button(type="button",).card__button Показать ещё

    section.catalog 
        .container 
            .catalog__title.title Каталог
            ul.catalog__list 
                each el in catalog 
                    +catalog(el.text,el.imgpath)
    section.popular 
        .popular__wrapper 
            .popular-cell.popular__cell--left 
                .popular-cell__text.popular-cell__text--left Краски Lip Nitn
                a(href="#").popular-cell__link Смотреть в каталоге
            .popular-cell.popular__cell--right 
                .popular-cell__text Foxx viper — хит 2021 года
                a(href="#").popular-cell__link Смотреть в каталоге


    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")