-
	link = [
		{
			"name": "Промокоды",
			"href": "#"
		},
		{
			"name": "Скидки",
			"href": "#"
		},
		{
			"name": "Помощь",
			"href": "#"
		},
		{
			"name": "О нас",
			"href": "#"
		}, 
		{
			"name": "Контакты",
			"href": "#"
		}
	],

	comm = [
		{
			"name": "Viber",
			"href": "#"
		},
		{
			"name": "Whats App",
			"href": "#"
		},
		{
			"name": "Telegram",
			"href": "#"
		}
	]

