-
	link = [
		{
			"name": "Промокоды",
			"href": "#"
		},
		{
			"name": "Скидки",
			"href": "#"
		},
		{
			"name": "Помощь",
			"href": "#"
		},
		{
			"name": "О нас",
			"href": "#"
		}, 
		{
			"name": "Контакты",
			"href": "#"
		}
	],

	comm = [
		{
			"name": "Viber",
			"href": "#"
		},
		{
			"name": "Whats App",
			"href": "#"
		},
		{
			"name": "Telegram",
			"href": "#"
		}
	],

	preview = [
		{
			"title": "Лучшие товары в мире татуировок",
			"text": "Оборудование и расходники для самых ярких и качественных работ",
			"image": "slide1.png"
		},
		{
			"title": "Лучшие товары в мире татуировок",
			"text": "Оборудование и расходники для самых ярких и качественных работ",
			"image": "slide1.png"
		},
		{
			"title": "Лучшие товары в мире татуировок",
			"text": "Оборудование и расходники для самых ярких и качественных работ",
			"image": "slide1.png"
		},
		{
			"title": "Лучшие товары в мире татуировок",
			"text": "Оборудование и расходники для самых ярких и качественных работ",
			"image": "slide1.png"
		},
		{
			"title": "Лучшие товары в мире татуировок",
			"text": "Оборудование и расходники для самых ярких и качественных работ",
			"image": "slide1.png"
		},
		{
			"title": "Лучшие товары в мире татуировок",
			"text": "Оборудование и расходники для самых ярких и качественных работ",
			"image": "slide1.png"
		}
	]

	tabs = [
		"Хиты продаж", "Самые популярные", "Новые поступления", "Акционные товары"
	]

	cell = [
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		},
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		},
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		},
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		},
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		},
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		},
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		},
		{
			"name": "Foxxx Kitsune Mini Black Vintage RCA",
			"flag": "new",
			"price":"6 000 ₽",
			'fav': "1",
			"photoes": ['photo1','photo2','photo3','photo4']
		}
		
		
	]

	catalog = [
		{
			"text": 'Тату наборы',
			"imgpath": "sets"
		},
		{
			"text": 'Держатели',
			"imgpath": "holders"
		},
		{
			"text": 'Тату машинки',
			"imgpath": "machine"
		},
		{
			"text": 'Педали и провода',
			"imgpath": "cabels"
		},
		{
			"text": 'Краски',
			"imgpath": "paints"
		},
		{
			"text": 'Блоки питания',
			"imgpath": "power"
		},
		{
			"text": 'Наконечники',
			"imgpath": "tips"
		},
		{
			"text": 'Тату иглы',
			"imgpath": "needles"
		},
		{
			"text": 'Защита, ёмкости, расходники',
			"imgpath": "gloves"
		},
		{
			"text": 'Аксессуары',
			"imgpath": "accessories"
		},
		{
			"text": 'Принтеры и планшеты',
			"imgpath": "printers"
		}
	]
