header.header
    .container
         .header__wrapper 
            .header__contacts
                a.header__phone(href="#")

                a.header__email(href="#") 
            .header__logo
                a.logo(href="index.html")
                    .logo__name MR. DRISKELL
                    span.logo__stick 
                    .logo__description TATTOO SHOP 
            .hedaer__menu
                .header-cart 
                    a.header-cart__link(href="")
                    .header-cart__price 
                a.header__favourite(href="#")
                a.header__account(href="#")
            span.header__line 
         .subheader
            .subheader__wrapper 
                .subheader__catalog 
                .subheader__search
                nav.subheader__nav 
                    ul.subheader-list 
                        li.subheader-list__item
                            a.subheader-list__link(href="#")   
                        li.subheader-list__item
                            a.subheader-list__link(href="#")   
                        li.subheader-list__item
                            a.subheader-list__link(href="#")   
                        li.subheader-list__item  
                            a.subheader-list__link(href="#") 
                        li.subheader-list__item  
                            a.subheader-list__link(href="#") 

